h1 {
    background: red;
    font-size: 48px;
}

.paragraph-1 {
    font-family: Arial;
}

p {
    font-family: Courier;
}

.my_fat_text {
    font-weight: bold;
    display: block

}

.paragraph-2 {
    border: blue dotted 5px;
    /*border: blue solid 5px;*/
    /*margin: 50px;*/
    padding: 50px;
    font-family: Tahoma
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 50px


}
